<a href="{{ request.facebook_connect_url }}" class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded py-1 px-3 leading-normal no-underline text-blue-600 border-blue-600 hover:bg-blue-600 hover:text-white bg-white hover:bg-blue-600 {% if inline %}inline-flex{% else %}block w-full flex{% endif %} justify-center items-center mb-1 login-button-facebook">
  {% include "svg_icon" name: "facebook", class: "flex-shrink-0 mr-2" %}
  Sign in with Facebook
</a>
